/*  ===== General ===== */

body {
font-family: 'Arimo', arial, serif;
margin: 0px;
background-color: #eee;

}

.loading {
text-align: center;
margin-top: 50px;
}

h2 {
    clear:both;
}
/* 1006px + 16px pad + 2px border = 1024px */
.mainContent {
width: 1006px;
margin: auto;
background-color: #fff;
padding: 0px 8px 10px 8px;
border: 1px solid #ccc;
}

/* ===== End general ===== */


/* ===== Header ===== */
#header h1 {
margin: 0px 0px 10px 0px;
padding: 8px 0px 8px 0px;
text-align: center;
font-family: 'Ubuntu', arial, serif;
background-color: #aaa;
-moz-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
border: 1px solid #ccc;
border-top: none;
background: url(custom-theme/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}
/* ===== End header ===== */


/* ===== Navigation ===== */

#nav {
float: left;
width: 142px;
height: 631px;
background-color: white;
border: 1px solid #ccc;
padding: 3px;
padding-top:15px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#projectNav ul {
padding: 5px 5px 0px 5px;
margin: 0px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-border-radius: 3px;
}

#projectNav li {
list-style: none;
margin-left: 0px;
margin-bottom: 8px;
text-align: center;
}

#projectNav li:hover {
background: #dadada url(custom-theme/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
}

#projectNav li img {
width: 95px;
height: 95px;
border: 1px solid;
}

#projectNav li a {
padding: 15px 15px 2px 15px;
text-decoration: none;
color: black;
display: block;
}

#projectNav li.selected {
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-border-radius: 5px;
background: #aaa url(custom-theme/images/ui-bg_glass_80_aaaaaa_1x400.png?11) 50% 50% repeat-x;
}

#projectNav li.selected a:hover {
cursor: default;
}

#nav .navArrow {
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-border-radius: 8px;
margin: auto;
width: 130px;
height: 18px;
border: 1px solid #ccc;
cursor: pointer;
}

#nav .arrow {
margin: auto;
}

 /* only necessary for small width screens */
#nav .navArrow .arrowLabel {
 display:none;
}

#up {
margin-top: 5px;
}

/* ===== End navigation ===== */


/* ===== Project contents =====*/

/* Manually override bad styling set by caroufredsel plugin */  
  .caroufredsel_wrapper {
      width:848px !important;
  }
  #projects {
      width:848px !important;
  }
/* end style override */

.section-content p:first-child {
    margin-top:0px;
}

#projects-container {
float: left;
width: 843px;
margin-left: 8px;
position: relative;
}

#projects {
overflow: hidden;
}

#projects .project h2 {
margin: 0px;
padding-bottom: 0px;
font-size: 1em;
text-decoration: underline;
}

#projects .project .nameHeading {
margin-left: 15px;
padding-top: 10px;
text-transform: capitalize;
font-size: 120%;
margin-bottom: -10px;
}

#projects .project .infobox {
width: 700px;
margin: auto;
border: 1px solid#ccc;
background-color: #efefef;
padding: 8px;
clear: both;
}


#projects .project .topAccent {
background-color: #000839;
height: 10px;
border-radius: 5px 5px 0px 0px;
}

#projects .project .bottomAccent {
height: 10px;
background-color: #000839;
-moz-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
-webkit-border-radius: 0px 0px 5px 5px;
}

#projects .project .span-image {
text-align: center;
margin-top: 10px;
}

#projects .project .span-image img {
border: 1px solid;
}

#projects .project .video {
    margin:auto;
    display:block;
    max-width:90%;
}

#projects .quotebox {
    font-size:90%;
    color:#333;
}

#projects img {
    display:block; margin:auto; border:1px solid #ccc;
}
.caption {
    text-align:center;
    font-style:italic;
    font-size:90%;
    color:#444;
}

.quote {
    font-style:italic;
}
#projects img.left_image {
   float:left;
   margin-right:8px;
   margin-bottom:10px;
   margin-left:20px;
}

.floatCenterer{
    position:relative; 
    float:left; 
    left:50%;
}
#projects .picture_box {
    text-align:center;
    float:left;
    position:relative;
    left:-50%;
    margin-right:6px;
}

#projects .picture_box img {
    margin:0px;
}

/* End project contents */


/* ===== Footer ===== */
#footer {
padding-top: 5px;
color: #ccc;
font-size: 50%;
text-align: right;
clear: both;
}

#license {
border-width: 0;
vertical-align: bottom;
}

#licenseText {
margin-right: 100px;
}

/* ===== End Footer ===== */


/* ===== Tabs ===== */

.tabset li a {
color: #333;
}

.tabset .title {
float: left;
font-size: 130%;
margin-left: 20px;
}
.tab-content {
padding: 0px 10px 10px 10px;
font-size: 80%;
}

.tabs.title {
padding-top: 10px;
}	    

.ui-tabs-nav {
margin-bottom: 1em !important;
}

.ui-tabs  .ui-state-default {
background: none !important;
border-left: none !important;
border-right: none !important;
border-top: none !important;
}

.ui-tabs .ui-corner-top {
-moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-radius-topright: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
}
        	    
#projects .project .tabset {
height: 630px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-border-radius: 0px;
}
/* ===== End Tabs ===== */

/* ===== iPhone Style ===== */

@media (max-width: 640px) and (min-width: 401px)  {
    #projectNav { 
        display:none;
    }
    #nav {
        height:auto;
        border:0px;
    }
    .mainContent {
        padding:0px 5px 0px 5px;
        width:630px;
        overflow:hidden;
    }
  
    body {

        font-size:90%;
        margin:0px;
        padding:0px;
    }
    .floatCenterer img{
        max-width:250px;
    }
    .floatCenterer .infobox{
        max-width:250px;
    }
    .floatCenterer .infobox{
        max-width:250px;
    }
    #projects .project .picture_box img.shrinkable{
        max-width:180px;
    }
  /* Manually override bad styling set by caroufredsel plugin */  
    .caroufredsel_wrapper {
        width:630px !important;
    }
    #projects {
        width:630px !important;
    }
  /* end style override */


    #header h1 {
    padding: 4px 0px 4px 0px;
    font-size:1.5em;
    }
    #projects-container {
        width:628px;
        padding:0px;
        margin:0px;
    }
    #projects .project .infobox {
        width:500px;
    }
    
    #projects {
        padding:0px;
    }
    #caroufredsel_wrapper {
    }
    
    #nav {
        width:99%;
        text-align:center;
        position:relative;
    }
    #nav .navArrow {
        width:500px;
        height:30px;
        margin:auto;
    }
    
    #nav .navArrow .arrowLabel {
        position:relative;
        top:-6px;
        display:block;
        
    }
    
    #up {
        width:500px;
    }
    #down {
        position:absolute;
        top:705px;
        left:70px;
    }
    
    #footer {
        padding-top:40px;
    }
    


}

@media (max-width: 400px) {
    
    /* Manually override bad styling set by caroufredsel plugin */  
      .caroufredsel_wrapper {
          width:390px !important;
      }
      #projects {
          width:390px !important;
      }
    /* end style override */
    
    #projects .project .picture_box img.shrinkable{
        max-width:120px;
    }
    
    #projectNav { 
        display:none;
    }
    #nav {
        height:auto;
        border:0px;
    }
    .mainContent {
        padding:0px 5px 0px 5px;
        width:390px;
    }
    body {

        font-size:70%;
        margin:0px;
        padding:0px;
    }
    img {
        max-width:360px;
    }
    #header h1 {
    padding: 4px 0px 4px 0px;
    font-size:1.5em;
    }
    #projects-container {
        width:388px;
        padding:0px;
        margin:0px;
    }
    #projects .project .infobox {
        width:330px;
    }
    
    #projects {
        padding:0px;
    }
    #caroufredsel_wrapper {
    }
    
    #nav {
        width:99%;
        text-align:center;
        position:relative;
    }
    #nav .navArrow {
        width:300px;
        height:30px;
        margin:auto;
    }
    
    #nav .navArrow .arrowLabel {
        position:relative;
        top:-6px;
        display:block;
        
    }
    
    #down {
        position:absolute;
        top:705px;
        left:50px;
    }
    
    #footer {
        padding-top:40px;
    }
    
    #projects .project .nameHeading {
    margin-bottom: 5px;
    }
}